<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="boss">
      <div class="container">
        <div class="cardtop">
          <h1>Template: Sticky</h1>
          <span><i class="fa-solid fa-calendar"></i>January 7, 2015</span>
          <span><i class="fa-solid fa-folder-open"></i>Uncategorized</span>
        </div>
        <div class="cardmain">
          <img class="img1" src="img/image1.jpg" alt="flower" />
          <p>
            This is a sticky post. There are a few things to verify: The sticky
            post should be distinctly recognizable in some way in comparison to
            normal posts. You can style the .sticky class if you are using the
            post_class() function to generate your post classes, which is a best
            practice. They should show at the very top […]
          </p>
          <button>Continue reading ></button>
        </div>
      </div>
      <br />
      <hr />

      <div class="container">
        <div class="cardtop">
          <h1>Bullet Point Test</h1>
          <span><i class="fa-solid fa-calendar"></i>January 7, 2015</span>
          <span><i class="fa-solid fa-folder-open"></i>Uncategorized</span>
        </div>
        <div class="cardmain">
          <img class="img1" src="img/image2.jpg" alt="flower" />
          <p>
            This theme does support bullet point in multiple levels First Second
            2nd level 2nd level 3rd level 3rd level Third Fourth Fifth Sixth
            Seventh
          </p>
          <button>Continue reading ></button>
        </div>
      </div>
      <br />
      <hr />

      <div class="container">
        <div class="cardtop">
          <h1>Untitled</h1>
          <span><i class="fa-solid fa-calendar"></i>January 7, 2015</span>
          <span><i class="fa-solid fa-folder-open"></i>Uncategorized</span>
        </div>
        <div class="cardmain">
          <img class="img1" src="img/image3.jpg" alt="flower" />
          <p>
            This post has no title, but it still must link to the single post
            view somehow. This is typically done by placing the permalink on the
            post date.
          </p>
          <button>Continue reading ></button>
        </div>
      </div>
      <br />
      <hr />

      <div class="container">
        <div class="cardtop">
          <h1>Hello world</h1>
          <span><i class="fa-solid fa-calendar"></i>January 7, 2015</span>
          <span><i class="fa-solid fa-folder-open"></i>Uncategorized</span>
        </div>
        <div class="cardmain">
          <img class="img1" src="img/image4.jpg" alt="flower" />
          <p>
            Welcome to WordPress. This is your first post. Edit or delete it,
            then start blogging!
          </p>
          <button>Continue reading ></button>
        </div>
      </div>

      <br />
      <hr />

      <div class="container">
        <div class="cardtop">
          <h1>Post Format: Quote</h1>
          <span><i class="fa-solid fa-calendar"></i>January 7, 2015</span>
          <span><i class="fa-solid fa-folder-open"></i>Uncategorized</span>
        </div>
        <div class="cardmain">
          <img class="img1" src="img/image5.jpg" alt="flower" />
          <p>
            Welcome to WordPress. This is your first post. Edit or delete it,
            then start blogging!
          </p>
          <button>Continue reading ></button>
        </div>
      </div>
      <br />
      <hr />

      <div class="container">
        <div class="cardtop">
          <h1>Markup: HTML Tags and Formatting</h1>
          <span><i class="fa-solid fa-calendar"></i>January 7, 2015</span>
          <span><i class="fa-solid fa-folder-open"></i>Uncategorized</span>
        </div>
        <div class="cardmain">
          <img class="img1" src="img/image6.jpg" alt="flower" />
          <p>
            Headings Header one Header two Header three Header four Header five
            Header six Blockquotes Single line blockquote: Stay hungry. Stay
            foolish. Multi line blockquote with a cite reference: People think
            focus means saying yes to the thing you’ve got to focus on. But
            that’s not what it means at all. It means saying no to […]
          </p>
          <button>Continue reading ></button>
        </div>
      </div>
      <br />
    </div>
    <div class="posts">
      <h2>Populyar Posts</h2>
      <div class="post">
        <div class="card1">
          <div class="pictures">
            <img class="img2" src="img/image1.jpg" alt="escape" />
          </div>
          <div class="dates">
            <span class="post1">Template:Sticky</span>
            <p class="date">Jan 7, 2015</p>
          </div>
        </div>

        <div class="card1">
          <div class="pictures">
            <img class="img2" src="img/image2.jpg" alt="escape" />
          </div>
          <div class="dates">
            <span class="post1">Template:Sticky</span>
            <p class="date">Jan 7, 2015</p>
          </div>
        </div>

        <div class="card1">
          <div class="pictures">
            <img class="img2" src="img/image4.jpg" alt="escape" />
          </div>
          <div class="dates">
            <span class="post1">Template:Sticky</span>
            <p class="date">Jan 7, 2015</p>
          </div>
        </div>

        <div class="card1">
          <div class="pictures">
            <img class="img2" src="img/image5.jpg" alt="escape" />
          </div>
          <div class="dates">
            <span class="post1">Template:Sticky</span>
            <p class="date">Jan 7, 2015</p>
          </div>
        </div>
        <div class="card1">
          <div class="pictures">
            <img class="img2" src="img/image6.jpg" alt="escape" />
          </div>
          <div class="dates">
            <span class="post1">Template:Sticky</span>
            <p class="date">Jan 7, 2015</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
