* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px 0 0 60px;
  border: 0;
}
.cardtop {
  padding: 20px 0 20px 0;
  margin: 15px 15px;
  border-bottom: 1px solid rgb(197, 199, 197);
}
h1 {
  color: rgb(201, 201, 201);
  text-shadow: 1px 2px #1fa67a;
}
h2 {
  color: rgb(201, 201, 201);
  text-shadow: 2px 1px #1fa67a;
}
.cardmain {
  margin: 10px 0 10px 0;
}

p {
  font: 1em/1.5 Arial;
  color: rgb(76, 73, 73);
  padding: 10px;
  text-align: justify;
}
span {
  cursor: pointer;
}
span i {
  display: inline-block;
  color: #1fa67a;
  padding: 10px;
}
.img1 {
  width: 100%;
  border: 2px solid #a3a1a1;
  padding: 5px;
  border-radius: 5px;
}
button {
  float: right;
  font: 1rem Arial;
  color: #1fa67a;
  border: 2px solid greenyellow;
  border-radius: 10px;
  box-shadow: 1px 2px rgb(85, 244, 178);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
hr {
  width: 400px;
  margin: auto;
  color: white;
}
.posts {
  margin: 20px 20px;
  padding: 10px;
}
.post {
  border: 1px solid #c2c1c1;
  cursor: pointer;
}
.card1 {
  display: flex;
  border-bottom: 1px solid #bebaba;
  padding: 5px;
}
.pictures {
  padding: 5px 5px 5px 7px;
}
.img2 {
  width: 70px;
  height: 70px;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
}
.post1 {
  font: 1rem Arial;
  color: #1fa67a;
  padding: 0 0 0 10px;
}
.dates {
  padding: 8px 0 0 0;
}
.date {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .img1 {
    width: 100%;
  }
  .container {
    margin: 80px;
  }
  .boss {
    width: 65%;
    margin: 4px 0 0 50px;
    display: inline-block;
  }
  .posts {
    width: 27%;
    margin: 110px 50px 0 0;
    float: right;
  }
  .post {
    margin: 25px 0 0 0;
    width: 100%;
  }
}
